@model BLL.DTO.IssueDTO.UpdateIssuesDTO


@{
    ViewBag.Title = "BrowseIssue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-12">
        <div class="x_panel">
            <div class="x_title">
                <h4>
                    Issue object
                </h4>
            </div>
            <div class="x_content">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>

                            <th>POS Name</th>
                            <th>Telephone</th>
                            <th>CellPhone</th>
                            <th>Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>

                            <td>@Model.PosName.</td>
                            <td>@Model.PosTelephone</td>
                            <td>@Model.PosCellPhone</td>
                            <td>@Model.PosAddress</td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("EditIssue", "Issue", FormMethod.Post, new { id = "login-form", @class = "login-form" }))
{
    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />

    @Html.HiddenFor(x => x.Id)


    <div class="left_col-" role="main">
        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h4>
                                Issue Details
                            </h4>
                        </div>
                        <div class="x_content">
                            <form id="demo-form2" data-parsley-validate
                                  class="form-vertical form-label-left">

                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(model => model.IssueType, new { @class = "control-label col-md-3 col-sm-3 col-12" })
                                        <div class="col-md-6 col-sm-6 col-12">
                                            <select id="IssueType" name="IdType" class="select2_single form-control">
                                                @foreach (var issueType in ViewBag.IssueType)
                                                {
                                                    <option value="@issueType.Id" @(Model.IdType == issueType.Id ? "selected" : "")>@issueType.Name </option>
                                                }
                                                @Html.ValidationMessageFor(model => model.IssueType)
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(model => model.SubType, new { @class = "control-label col-md-3 col-sm-3 col-12" })
                                        <div class="col-md-6 col-sm-6 col-12">
                                            <select id="SubType" name="IdSubType" class="select2_single form-control">
                                                @foreach (var issueType in ViewBag.SubType)
                                                {
                                                    <option value="@issueType.Id" @(Model.IdSubType == issueType.Id ? "selected" : "")>@issueType.Name </option>
                                                }
                                            </select>
                                            @Html.ValidationMessageFor(model => model.SubType)
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(model => model.Problem, new { @class = "control-label col-md-3 col-sm-3 col-12" })
                                        <div class="col-md-6 col-sm-6 col-12">
                                            <select id="Problem" name="IdProblem" class="select2_single form-control">
                                                @foreach (var issueType in ViewBag.ProblemType)
                                                {
                                                    <option value="@issueType.Id" @(Model.IdProblem == issueType.Id ? "selected" : "")>@issueType.Name </option>
                                                }
                                            </select>
                                            @Html.ValidationMessageFor(model => model.Problem)
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(model => model.Priority, new { @class = "control-label col-md-3 col-sm-3 col-12" })
                                        <div class="col-md-6 col-sm-6 col-12">
                                            <select id="Priority" name="PriorityId" class="select2_single form-control">
                                                <option value="">-- Select Priority--</option>
                                                @foreach (var prior in ViewBag.Priority)
                                                {
                                                    <option value="@prior.Id" @(Model.PriorityId == prior.Id ? "selected" : "")>@prior.Priority </option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-3 col-sm-3 col-12" })
                                        <div class="col-md-6 col-sm-6 col-12">
                                            <select id="Status" name="IdStatus" class="select2_single form-control">
                                                <option value="">-- Select Status--</option>
                                                @foreach (var status in ViewBag.Status)
                                                {
                                                    <option value="@status.Id" @(Model.IdStatus == status.Id ? "selected" : "")>@status.Status </option>
                                                }
                                                @Html.ValidationMessageFor(model => model.Status)
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(model => model.ProblemDescription, "Problem Description", new { @class = "control-label col-md-3 col-sm-3 col-12" })
                                        <div class="col-md-6 col-sm-6 col-12">
                                            @Html.TextAreaFor(model => model.ProblemDescription, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.ProblemDescription)
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(model => model.Solution, new { @class = "control-label col-md-3 col-sm-3 col-12" })
                                        <div class="col-md-6 col-sm-6 col-12">
                                            @Html.EditorFor(model => model.Solution, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Solution)
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(model => model.Memo, new { @class = "control-label col-md-3 col-sm-3 col-12" })
                                        <div class="col-md-6 col-sm-6 col-12">
                                            @Html.EditorFor(model => model.Memo, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Memo)
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(model => model.UserType, new { @class = "control-label col-md-3 col-sm-3 col-12" })
                                        <div class="col-md-6 col-sm-6 col-12">
                                            <select id="UserType" name="IdUserType" class="select2_single form-control">
                                                <option value="">-- Select Status--</option>
                                                @foreach (var userType in ViewBag.UserType)
                                                {
                                                    <option value="@userType.Id" @(Model.IdUserType == userType.Id ? "selected" : "")>@userType.UserType </option>
                                                }
                                                @Html.ValidationMessageFor(model => model.Status)
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-12 col-md-offset-4">
                                            <button type="submit" value="CreatePos" class="btn btn-success" style="color: #fff;">
                                                Save
                                            </button>
                                            <a href="@Url.Action("BrowseIssue", "Issue")" class="btn btn-primary">Close</a>
                                        </div>

                                    </div>
                                </div> 

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}





<script src="~/Scripts/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {


       

        var issueTypes = @Html.Raw(Json.Encode(ViewBag.IssueType));
        var subTypes = @Html.Raw(Json.Encode(ViewBag.SubType));
        var problemTypes = @Html.Raw(Json.Encode(ViewBag.ProblemType));

        var issueTypeSelect = document.getElementById("IssueType");
        var subTypeSelect = document.getElementById("SubType");
        var problemSelect = document.getElementById("Problem");

      
        issueTypeSelect.onchange = function () {
            var selectedIssueTypeId = parseInt(this.value);

            console.log("change main issue triggered");

            subTypeSelect.options.length = 0;
            subTypeSelect.options[0] = new Option('-- Select SubType --', '');
            for (var i = 0; i < subTypes.length; i++) {
                if (subTypes[i].ParentIssues === selectedIssueTypeId && subTypes[i].IssueLevel === 2) {
                    subTypeSelect.options[subTypeSelect.options.length] = new Option(subTypes[i].Name, subTypes[i].Id);
                }
            }

           
            problemSelect.options.length = 0;
            problemSelect.options[0] = new Option('-- Select Problem --', '');
        };

        
        subTypeSelect.onchange = function () {
            var selectedSubTypeId = parseInt(this.value);

  
            problemSelect.options.length = 0;
            problemSelect.options[0] = new Option('-- Select Problem --', '');
            for (var i = 0; i < problemTypes.length; i++) {
                if (problemTypes[i].ParentIssues === selectedSubTypeId && problemTypes[i].IssueLevel === 3) {
                    problemSelect.options[problemSelect.options.length] = new Option(problemTypes[i].Name, problemTypes[i].Id);
                }
            }
        };
    });
</script>
