@model BLL.DTO.PosDTO.AddPOSDTO
@{
    
}

<h2>_AddPosPartialView</h2>


<div class="modal fade" id="add-pos-modal" tabindex="-1" role="dialog" aria-labelledby="addPosLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPosLabel">Add POS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                @using (Html.BeginForm("CreatePos", "Pos", FormMethod.Post, new { id = "login-form", @class = "login-form" }))
                {
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div class="left_col-" role="main">
                        <div class="">
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="x_panel" style="width: 100%;">
                                        <div class="x_title">
                                            <h4>
                                                User Data
                                            </h4>
                                        </div>
                                        <div class="x_content">
                                            <br />
                                            <form id="demo-form2" data-parsley-validate
                                                  class="form-vertical form-label-left">

                                                <div class="form-group">
                                                    <div class="row">
                                                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-3 col-sm-3 col-12" })
                                                        <div class="col-md-6 col-sm-6 col-12">
                                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <div class="row">
                                                        @Html.LabelFor(model => model.Telephone, new { @class = "control-label col-md-3 col-sm-3 col-12" })
                                                        <div class="col-md-6 col-sm-6 col-12">
                                                            @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        @Html.LabelFor(model => model.CellPhone, new { @class = "control-label col-md-3 col-sm-3 col-12" })
                                                        <div class="col-md-6 col-sm-6 col-12">
                                                            @Html.EditorFor(model => model.CellPhone, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.CellPhone, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-3 col-sm-3 col-12" })
                                                        <div class="col-md-6 col-sm-6 col-12">
                                                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        @Html.LabelFor(model => model.CityName, new { @class = "control-label col-md-3 col-sm-3 col-12" })
                                                        <div class="col-md-6 col-sm-6 col-12">
                                                            <select id="City_Id" name="City_Id" class="select2_single form-control">
                                                                <option value="">-- Select User Type --</option>
                                                                @foreach (var city in ViewBag.City)
                                                                {
                                                                    <option value="@city.Id">@city.Name</option>
                                                                }
                                                                @Html.ValidationMessageFor(model => model.City_Id, "", new { @class = "text-danger" })
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        @Html.LabelFor(model => model.Brand, new { @class = "control-label col-md-3 col-sm-3 col-12" })
                                                        <div class="col-md-6 col-sm-6 col-12">
                                                            @Html.EditorFor(model => model.Brand, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.Brand, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        @Html.LabelFor(model => model.Model, new { @class = "control-label col-md-3 col-sm-3 col-12" })
                                                        <div class="col-md-6 col-sm-6 col-12">
                                                            @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <div class="row">
                                                        @Html.LabelFor(model => model.ConnectionType, new { @class = "control-label col-md-3 col-sm-3 col-12" })
                                                        <div class="col-md-6 col-sm-6 col-12">
                                                            <select id="ConnType_Id" name="ConnType_Id" class="select2_single form-control">
                                                                <option value="">-- Select User Type --</option>
                                                                @foreach (var conType in ViewBag.ConType)
                                                                {
                                                                    <option value="@conType.Id">@conType.ConectionType</option>
                                                                }
                                                                @Html.ValidationMessageFor(model => model.ConnType_Id, "", new { @class = "text-danger" })
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        @Html.LabelFor(model => model.MorningOperning, new { @class = "control-label col-md-3 col-sm-3 col-12" })
                                                        <div class="col-md-6 col-sm-6 col-12">
                                                            @Html.TextBoxFor(model => model.MorningOperning, new { @class = "form-control", @type = "time" })
                                                            @Html.ValidationMessageFor(model => model.MorningOperning, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        @Html.LabelFor(model => model.MorningClosing, new { @class = "control-label col-md-3 col-sm-3 col-12" })
                                                        <div class="col-md-6 col-sm-6 col-12">
                                                            @Html.TextBoxFor(model => model.MorningClosing, new { @class = "form-control", @type = "time" })
                                                            @Html.ValidationMessageFor(model => model.MorningClosing, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        @Html.LabelFor(model => model.AfternoonOpening, new { @class = "control-label col-md-3 col-sm-3 col-12" })
                                                        <div class="col-md-6 col-sm-6 col-12">
                                                            @Html.TextBoxFor(model => model.AfternoonOpening, new { @class = "form-control", @type = "time" })
                                                            @Html.ValidationMessageFor(model => model.AfternoonOpening, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        @Html.LabelFor(model => model.AfternonClosing, new { @class = "control-label col-md-3 col-sm-3 col-12" })
                                                        <div class="col-md-6 col-sm-6 col-12">
                                                            @Html.TextBoxFor(model => model.AfternonClosing, new { @class = "form-control", @type = "time" })
                                                            @Html.ValidationMessageFor(model => model.AfternonClosing, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="hidden-fields-container"></div>
                                                <div class="checkbox-group " style="display: flex;">
                                                    <div style="margin-right: 10px;">
                                                        <input type="checkbox" id="mon" name="Mon" value="mon" onchange="updateSelectedDays()" />
                                                        <label for="mon">Mon</label>

                                                    </div>
                                                    <div style="margin-right: 10px;">
                                                        <input type="checkbox" id="tue" name="Tue" value="tue" onchange="updateSelectedDays()" />
                                                        <label for="tue">Tue</label>
                                                    </div>
                                                    <div style="margin-right: 10px;">
                                                        <input type="checkbox" id="wed" name="Wed" value="wed" onchange="updateSelectedDays()" />
                                                        <label for="wed">Wed</label>
                                                    </div>
                                                    <div style="margin-right: 10px;">
                                                        <input type="checkbox" id="thu" name="Thu" value="thu" onchange="updateSelectedDays()" />
                                                        <label for="thu">Thu</label>
                                                    </div>
                                                    <div style="margin-right: 10px;">
                                                        <input type="checkbox" id="fri" name="Fri" value="fri" onchange="updateSelectedDays()" />
                                                        <label for="fri">Fri</label>
                                                    </div>
                                                    <div style="margin-right: 10px;">
                                                        <input type="checkbox" id="sat" name="Sat" value="sat" onchange="updateSelectedDays()" />
                                                        <label for="sat">Sat</label>
                                                    </div>
                                                    <div style="margin-right: 10px;">
                                                        <input type="checkbox" id="sun" name="Sun" value="sun" onchange="updateSelectedDays()" />
                                                        <label for="sun">Sun</label>
                                                    </div>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.SelectedDays, "", new { @class = "text-danger" })


                                                <div class="ln_solid"></div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-6 col-sm-6 col-12 col-md-offset-3">

                                                            <button type="submit" class="btn btn-success" data-save="modal">Create new POS</button>
                                                        </div>

                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
</div>

<script>
    function updateSelectedDays() {

        var container = document.getElementById('hidden-fields-container');
        container.innerHTML = '';

        var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');

        checkboxes.forEach(function (checkbox) {
            var input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'SelectedDays';
            input.value = checkbox.value;
            container.appendChild(input);
        });
    }
</script>
