@model  BLL.DTO.UserDTO.GetUsersDTO

@{
    ViewBag.Title = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />


 </div>

<div class="clearfix"></div>


<table id="userTable" class="display">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Login</th>
            <th>Telephone</th>
            <th>UserTypeId</th>
        </tr>
    </thead>
    <tbody>
       
        
        @foreach (var user in Model.UserDTO)
        {
           <tr>
               <td>@user.Name</td>
               <td>@user.Email</td>
               <td>@user.Login</td>
               <td>@user.Telephone</td>
               <td>@user.UserTypeId</td>
          </tr>

        }
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#userTable').DataTable();
    });
</script>
